.boxy {
  border: dotted red;
}

.test {
  background-color: black;
}

.logo {
  height: 80px;
  width: auto;
}

.hearderBackground {
  background-color: #563d7c;
}

.App {
  width: auto;
  height: 100%;
}

html,
body {
  height: 100%;
}
